body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.card {
    list-style: none;
    /* padding: 40px; */
    background-color: #fff;
    color: #222;
    text-align: center;
}

.card:hover {
    background-color: #ff7300;
    color: #fff;
    transition: 6s;
    animation: bounce 0.5s linear;
}

button {
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image {
    height: 180px;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
}

label {
    color: aqua;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

